{% load static %}
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="#"/>
    <link type="text/css" href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header__base">
        <a href="/" class="header__logo">
            <img src="{% static 'media/images/logo.png' %}" class="header__logo-image" alt="header_logo">
        </a>
        <a href="/" class="header__name">
            <h2>GameMuster</h2>
        </a>
    </div>
    <div class="header__registration">
        {% if user.is_authenticated %}
            <div class="header__profile">
                <a href="{% url 'profile' %}">{{ user.username }}</a>
            </div>
            <div class="header__must">
                <div class="header__link">
                    <a href="{% url 'my_must' %}">My MUSTs:</a>
                </div>
                <div id="favorites_statistics"></div>
            </div>
            <div class="header__register">
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        {% else %}
            <div class="header__register">
                <a href="{% url 'sign_up_page' %}">Sign Up</a>
            </div>
            or
            <div class="header__register">
                <a href="{% url 'login_page' %}">Log in</a>
            </div>
        {% endif %}
    </div>
</header>
<main class="wrapper">
    {% block content %}{% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider_pagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/range_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_main_page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax_favorites.js' %}"></script>
</body>
</html>