{% load static %}
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="#"/>
    <link type="text/css" href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header__base">
        <a href="/" class="header__logo">
            <img src="{% static 'media/images/logo.png' %}" class="header__logo-image" alt="pacman_logo">
        </a>
        <a href="/" class="header__name">
            <h2>GameMuster</h2>
        </a>
    </div>
    <div class="header__registration">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="header__profile">{{ user.username }}</a>
            <a href="#" class="header__must">My MUSTs</a>
            <a href="{% url 'logout' %}" class="header__register">Log out</a>
        {% else %}
            <a href="{% url 'sign_up_page' %}" class="header__register">Sign Up</a>
            or
            <a href="{% url 'login_page' %}" class="header__register">Log in</a>
        {% endif %}
    </div>
</header>
<main class="wrapper">
    {% block content %}{% endblock %}
</main>
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider_pagination.js' %}"></script>
<script type="text/javascript" src="{% static 'js/range_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_main_page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
</body>
</html>