{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="games-details">
    {% for game in current_game %}
        <div class="games-details__games-info">
            <div class="games-info">
                <div class="games-info__cover-secret">
                    {% if game.cover_url %}
                        <img src="{{ game.cover_url }}" alt="cover-secret">
                     {% else %}
                        <img src="{% static 'media/images/default_cover.png' %}" alt="default-cover-secret">
                    {% endif %}
                </div>
                <h2 class="games-info__title">{{ game.game_name }}</h2>
                {% if user.is_authenticated %}
                    {% if game.game_id in favorite_game_list_ids %}
                        <button type="button" class="block__links-open">
                            <a class="add-to-favorites added" href="{% url 'remove_from_favorites' game.game_id %}">UnMust</a>
                        </button>
                    {% else %}
                        <button type="button" class="block__links-open">
                            <a class="add-to-favorites" href="{% url 'add_to_favorites' game.game_id %}">Must</a>
                        </button>
                    {% endif %}
                {% else %}
                    <button type="button" class="block__links-open disabled">
                        <a class="add-to-favorites disabled" href="{% url 'add_to_favorites' game.game_id %}">Must</a>
                    </button>
                {% endif %}
            </div>
            <div class="games-info__genre">
                {% for genre in game.game_genres.all  %}
                    {% if genre.genre_name %}
                        <div class="games-info__genre">{{ genre.genre_name }}</div>
                    {% else %}
                        <div class="games-info__genre">-//-</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="games-info__description-game description-game">
                <h3 class="description-game__title">Descriprion</h3>
                <div class="description-game__text">
                    {% if game.game_summary %}
                        <p>{{ game.game_summary }}</p>
                    {% else %}
                        <p>-//-</p>
                    {% endif %}
                </div>
            </div>
            <div class="games-info__release-date release-date">
                <h3 class="release-date__title">Platform release date</h3>
                <div class="release-date__text-block">
                    {% if game.release_dates %}
                        <div class="release-date__text">{{ game.release_dates }}</div>
                    {% else %}
                        <div class="release-date__text">-//-</div>
                    {% endif %}
                </div>
            </div>
            <div class="games-info__screenshots">
                <h3 class="games-info__screenshots-title">Screenshots</h3>
                <div class="games-info__screenshots-block">
                    {% for screenshot in game.game_screenshots.all %}
                        <div class="games-info__screenshots">
                            <img class="games-info__screenshots-image" src="{{ screenshot.screenshot_url }}" alt="game-screenshots">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="games-info__description">
            <div class="description-second__ratings ratings">
                <h2 class="ratings__title">Ratings</h2>
                <div class="ratings__users">
                    <div class="ratings__users-title">Users</div>
                    <div class="ratings__users-marks">
                        {% if game.rating %}
                            <p>{{ game.rating }}</p>
                        {% else %}
                            <p>-//-</p>
                        {% endif %}
                    </div>
                    <div class="ratings__users-marks">
                        {% if game.rating_count %}
                            <p>{{ game.rating_count }}</p>
                        {% else %}
                            <p>-//-</p>
                        {% endif %}
                    </div>
                </div>
                <div class="ratings__critics">
                    <div class="ratings__critics-title">Critics</div>
                    <div class="ratings__critics-marks">
                        {% if game.aggregated_rating %}
                            <p>{{ game.aggregated_rating }}</p>
                        {% else %}
                            <p>-//-</p>
                        {% endif %}
                    </div>
                    <div class="ratings__critics-marks">
                        {% if game.aggregated_rating_count %}
                            <p>{{ game.aggregated_rating_count }}</p>
                        {% else %}
                            <p>-//-</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="description-second__genres genres">
                <h2 class="genres__title">Genres</h2>
                <div class="genres__block">
                    {% for genre in game.game_genres.all  %}
                        {% if genre.genre_name %}
                            <div class="genres__item">{{ genre.genre_name }}</div>
                        {% else %}
                            <div class="genres__item">-//-</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="description-second__platforms platforms">
                <h2 class="platforms__title">Platforms</h2>
                <div class="platforms__block">
                    {% for platform in game.game_platforms.all %}
                        {% if platform.platform_name %}
                            <div class="platforms__item">{{ platform.platform_name }}</div>
                        {% else %}
                            <div class="platforms__item">-//-</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="games-details__tweets tweets">
            <h2 class="tweets__title">#{{ game.game_name }} Tweets</h2>
            <div class="tweets__main-block" data-simplebar>
                {% for tweet in tweets_for_current_game %}
                    <div class="tweets__block">
                        <div class="tweets__text">{{ tweet.1 }}</div>
                        <div class="tweets__info">
                            <div class="tweets__date">{{ tweet.2 }}</div>
                            <div class="tweets__author">@{{ tweet.0 }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
     {% endfor %}
    </div>
{% endblock %}
