{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="games-details">
    <div class="games-details__games-info">
        <div class="games-info">
             <h2 class="games-info__title">{{ target_game.name }}</h2>
            <button class="games-info__button">MUST</button>
        </div>
        <div class="games-info__genre">

            {% for genre in genres  %}
                <div class="games-info__genre">{{ genre.name }}</div>
            {% endfor %}

        </div>
        <div class="games-info__description-game description-game">
            <h3 class="description-game__title">Descriprion</h3>
            <div class="description-game__text">
                <p>{{ target_game.summary }}</p>
            </div>
        </div>
        <div class="games-info__release-date release-date">
            <h3 class="release-date__title">Platform release date</h3>
            <div class="release-date__text-block">

                {% for release_date in release_dates %}
                    <div class="release-date__text">{{ release_date.human }}</div>
                {% endfor %}

            </div>
        </div>
        <div class="games-info__screenshots">
            <h3 class="games-info__screenshots-title">Screenshots</h3>
            <div class="games-info__screenshots-block">

                {% for screenshot in screenshots %}
                    <div class="games-info__screenshots">
                        <img class="games-info__screenshots-image" src={{ screenshot.url }} alt="game-icon">
                    </div>
                {% endfor %}

            </div>
        </div>
        </div>
        <div class="games-info__description">
            <div class="description-second__ratings ratings">
                <h2 class="ratings__title">Ratings</h2>
                <div class="ratings__users">
                    <div class="ratings__users-title">Users</div>
                    <div class="ratings__users-marks">{{ target_game.rating }} {{target_game.rating_count}}</div>
                </div>
                <div class="ratings__critics">
                    <div class="ratings__critics-title">Critics</div>
                    <div class="ratings__critics-marks">{{ target_game.aggregated_rating }} {{ target_game.aggregated_rating_count}}</div>
                </div>
            </div>
            <div class="description-second__genres genres">
                <h2 class="genres__title">Genres</h2>
                <div class="genres__block">

                    {% for genre in genres  %}
                        <div class="genres__item">{{ genre.name }}</div>
                    {% endfor %}

                </div>
            </div>
            <div class="description-second__platforms platforms">
                <h2 class="platforms__title">Platforms</h2>
                <div class="platforms__block">

                    {% for platform in platforms %}
                        <div class="platforms__item">{{ platform.name }}</div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="games-details__tweets tweets">
            <h2 class="tweets__title">{{ game_name }} #Pacman Tweets</h2>

            {% for tweet in tweets %}
                <div class="tweets__block">
                    <div class="block__text">
                        <p>{{ tweet.content }}</p>
                    </div>
                    <div class="block__info">
                        <div class="block__date">{{ tweet.date|date:'M Y' }}</div>
                        <div class="block__author">@{{ tweet.publisher }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
