{% extends 'base.html' %}
{% load static %}
{% load page_url %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<form action="{% url 'main_page' %}" method="GET">
    <div class="content">
        <div class="content__sidebar">
            <div class="content__sections-sidebar sidebar">
                <nav class="sidebar">
                    <ul class="sidebar__list">
                        <li>
                            <div class="sidebar__arrow">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <ul id="sidebar__sub-list" class="sidebar__sub-list">
                                <li>
                                    <div class="sidebar__sub-link search">
                                        <h4 class="search__header">Filters</h4>
                                        <div class="search__form">
                                            <div class="search__block">
                                                <div class="search__name">Platforms</div>
                                                <label>
                                                    <input type="text" class="search__input" id="search-platforms">
                                                </label>
                                            </div>
                                            <div class="search__checkout checkout" data-simplebar>
                                                <ul class="search-platforms">
                                                    {% for el in platforms_main %}
                                                        <li class="checkout__input">
                                                            <label>
                                                                <input class="checkout__search" type="checkbox" name="platform_id" value="{{ el.platform_id }}" {{ platforms_chosen|includes:el.platform_id }}>
                                                                <b>{{ el.platform_name }}</b>
                                                            </label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="search__block">
                                                <div class="search__name">Genres</div>
                                                <label>
                                                    <input type="text" class="search__input" id="search-genres">
                                                </label>
                                            </div>
                                            <div class="search__checkout checkout" data-simplebar>
                                                <ul class="search-genres">
                                                    {% for el in genres_main %}
                                                        <li class="checkout__input">
                                                            <label>
                                                                <input class="checkout__search" type="checkbox" name="genre_id" value="{{ el.genre_id }}" {{ genres_chosen|includes:el.genre_id }}>
                                                                <b>{{ el.genre_name }}</b>
                                                            </label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="search__slider-block">
                                                <div class="search__name">User Rating</div>
                                                <div class="search__slider" id="range-slider"></div>
                                                <div class="search__slider-inputs">
                                                    <label class="search__slider-label">
                                                        <input type="number" placeholder="0" value="{{ rating.0 }}" class="search__slider-input" name="min" id="input-0">
                                                    </label>
                                                    <label class="search__slider-label">
                                                        <input type="number" placeholder="100" value="{{ rating.1 }}" class="search__slider-input" name="max" id="input-1">
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="search__button">Apply</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
			    </nav>
            </div>
        </div>
        <div class="content__sections">
            <div class="content__sections-search">
                <label class="header__search-label">
                    <input class="header__search-input" type="search" name="search_game" placeholder="Search..." id="search-games-cart">
                    <button class="header__search-button" type="submit">
                        <img class="header__search-icon" src="{% static 'media/images/icon_search.png' %}" alt="icon-search">
                    </button>
                </label>
            </div>
            <div class="content__carts">
                {% for game in page_obj %}
                    <div class="games-cart">
                        <div class="games-cart__hover">
                            {% if game.cover_url %}
                                <img class="games-cart__image" src="{{ game.cover_url }}" alt="game-cover">
                            {% else %}
                                <img class="games-cart__image" src="{% static 'media/images/default_cover.png' %}" alt="default-game-cover">
                            {% endif %}
                            <div class="games-cart__block block">
                                <div class="block__main">
                                    <div class="block__title">{{ game.game_name }}</div>
                                    <div class="block__description">
                                        {% for genre in game.game_genres.all  %}
                                            {% if genre.genre_name %}
                                                {{ genre.genre_name }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="block__links">
                                        <button type="button" class="block__links-open">
                                            <a class="block__links-a" href="/{{ game.game_id }}" target="_blank" rel="nofollow noopener">Open</a>
                                        </button>
                                        {% if user.is_authenticated %}
                                            {% if game.game_id in favorite_game_list_ids %}
                                                <button type="button" class="block__links-open">
                                                    <a class="block__links-a" href="{% url 'remove_from_favorites' game.game_id %}">UnMust</a>
                                                </button>
                                            {% else %}
                                                <button type="button" class="block__links-open">
                                                    <a class="block__links-a" href="{% url 'add_to_favorites' game.game_id %}">Must</a>
                                                </button>
                                            {% endif %}
                                        {% else %}
                                            <button type="button" class="block__links-open disabled">
                                                <a class="block__links-a disabled" href="{% url 'add_to_favorites' game.game_id %}">Must</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="content__pagination slider">
                {% if num_of_pages_for_layout == 1 %}
                    <div class="slider__block-left_one-page"></div>
                    <div class="slider__container_one-page">
                {% elif num_of_pages_for_layout > 1 %}
                    <div class="slider__block-left"></div>
                    <div class="slider__container">
                {% endif %}
                        <div class="slider__navigation-prev">
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for page in num_of_pages %}
                                    <div class="swiper-slide">
                                        <a class="slider__pagination" href="{{ request.get_full_path|get_page_url:forloop.counter }}">{{ forloop.counter }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="slider__navigation-next">
                            <div class="swiper-button-next"></div>
                        </div>
                {% if num_of_pages_for_layout == 1 %}
                    </div>
                    <div class="slider__block-right_one-page"></div>
                {% elif num_of_pages_for_layout > 1 %}
                    </div>
                    <div class="slider__block-right"></div>
                {% endif %}
            </div>
        </div>
        <div class="content__pass"></div>
    </div>
</form>
{% endblock %}
