{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="content__sidebar">
            <div class="content__sections-sidebar sidebar">
                <nav class="sidebar">
                    <ul class="sidebar__list">
                        <li>
                            <div class="sidebar__arrow">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <ul class="sidebar__sub-list">
                                <li>
                                    <div class="sidebar__sub-link search">
                                        <h4 class="search__header">Filters</h4>
                                        <form class="search__form" action="#" method="GET">
                                            {% csrf_token %}
                                            <div class="search__block">
                                                <div class="search__name">Platforms</div>
                                                <label>
                                                    <input type="text" class="search__input" id="search-platforms">
                                                </label>
                                            </div>
                                            <div class="search__checkout checkout" data-simplebar>
                                                <ul class="search-platforms">

                                                    {% for el in all_platforms_filter %}
                                                    <li class="checkout__input">
                                                        <label>
                                                            <input class="checkout__search" type="checkbox" value="{{ el.id }}" data-filter="{{ el.id }}">
                                                            <b>{{ el.name }}</b>
                                                        </label>
                                                    </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                            <div class="search__block">
                                                <div class="search__name">Genres</div>
                                                <label>
                                                    <input type="text" class="search__input" id="search-genres">
                                                </label>
                                            </div>
                                            <div class="search__checkout checkout" data-simplebar>
                                                <ul class="search-genres">

                                                    {% for el in all_genres_filter %}
                                                    <li class="checkout__input">
                                                        <label>
                                                            <input class="checkout__search" type="checkbox" value="{{ el.id }}" data-filter="{{ el.id }}">
                                                            <b>{{ el.name }}</b>
                                                        </label>
                                                    </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                            <div class="search__slider-block">
                                                <div class="search__name">User Rating</div>
                                                <div class="search__slider" id="range-slider"></div>
                                            </div>
                                            <button type="button" class="search__button">Apply</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
			    </nav>
            </div>
        </div>
        <div class="content__sections">
            <div class="content__sections-search">
                <form action="#" method="GET">
                    {% csrf_token %}
                    <label class="header__search-label">
                        <input class="header__search-input" type="search" name="search_game" placeholder="Search..." id="search-games-cart">
                        <button class="header__search-button" type="submit">
                            <img class="header__search-icon" src="{% static 'media/images/icon_search.png' %}" alt="icon-search">
                        </button>
                    </label>
                </form>
            </div>
            <div class="content__carts">

                {% for game in page_obj %}

                <div class="games-cart">
                    <div class="games-cart__category category">

                        {% for platform in game.platforms %}
                        <div class="category__platforms" data-category="{{ platform.id }}"></div>
                        {% endfor %}

                        {% for genre in game.genres %}
                        <div class="category__genres" data-category="{{ genre.id }}"></div>
                        {% endfor %}

                    </div>
                    <div class="games-cart__hover">
                        <img class="games-cart__image" src={{ game.cover.url }} alt="game-icon">
                        <div class="games-cart__block block">
                            <h3 class="block__title">{{ game.name }}</h3>
                            <div class="block__description">

                                {% for genre in game.genres %}
                                {{ genre.name }}
                                {% endfor %}

                            </div>
                            <div class="block__links">
                                <button type="button" class="block__links-open">
                                    <a class="block__links-a" href="/{{ game.id }}" target="_blank" rel="nofollow noopener">Open</a>
                                </button>
                                <button type="button" class="block__links-must">
                                    <a class="block__links-a" href="#">MUST</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
            <div class="content__pagination">
                <nav aria-label="content__pagination-navigation">
                    <ul class="content__pagination-menu">

                        {% for el in nums %}
                            <li><a class="content__pagination-item" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                        {% endfor %}

                     </ul>
                </nav>
            </div>
        </div>
        <div class="content__pass"></div>
    </div>
{% endblock %}
