version: '3'
services:
  db:
    image: postgres:11
    ports:
      - "65432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: "postgres_db"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  django:
    build: .
    container_name: "django"
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/games/
    ports:
      - "8000:8000"
    env_file:
      - ./.env_docker
    depends_on:
      - db
      - redis

  redis:
    image: redis
    restart: always
    container_name: "redis"
    command: redis-server
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A game_muster worker -l INFO
    volumes:
      - .:/usr/src/games/
    depends_on:
      - django
      - db
      - redis
volumes:
  postgres_data: