{% extends 'base.html' %}
{% load static %}
{% load page_url %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="must">
        <div class="must__block">
            <div class="must__main">
                <div class="must__title">My MUST</div>
                <div class="must__clean-all">
                    <form action="{% url 'delete_favorites' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="url_from" value="{{ request.path }}">
                        <button class="games__button-reset" type="submit">Clean all</button>
                    </form>
                </div>
            </div>
            <!--<div class="test-sessions">
                <div>{{ request.session.keys }}</div>
                <div>{{ favorites_list }}</div>
                <div id="favorites_statistics"></div>
            </div>-->
            <div class="must__carts">
                {% for game in page_obj %}
                    <div class="must__games games">
                        <div class="games__image">
                            {% if game.url_root %}
                                <img class="games__cover" src="{{ game.url_root }}" alt="game-cover">
                            {% else %}
                                <img class="games__default" src="{% static 'media/images/default_cover.png' %}" alt="default-game-cover">
                            {% endif %}
                        </div>
                        <div class="games__block">
                            <div class="games__block-left">
                                <div class="games__title">
                                    <a href="/{{ game.id }}" target="_blank" class="games__title-a">{{ game.type }}</a>
                                </div>
                                <div class="games__genres">Action</div>
                                <div class="games__users-added">users added: 25</div>
                            </div>
                            <div class="games__block-right">
                                <div class="games__buttons">
                                    {% include "favorites/add_to_favorites_main.html" with genres=game.genres url_root=game.url_root type=game.type id=game.id %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="content__pagination slider-favorites">
                <div class="slider-favorites__block-left"></div>
                <div class="slider-favorites__container">
                    <div class="slider-favorites__navigation-prev">
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for page in num_of_pages %}
                                <div class="swiper-slide">
                                    <a class="slider-favorites__pagination" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider-favorites__navigation-next">
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="slider__block-right"></div>
            </div>
        </div>
    </div>
{% endblock %}
