{% extends 'base.html' %}
{% load static %}
{% load page_url %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="must">
        <div class="must__block">
            <div class="must__main">
                <div class="must__title">My MUST</div>
                <div class="must__clean-all"></div>
            </div>
            <div class="must__carts">
                {% for game in page_obj %}
                    <div class="must__games games">
                        <div class="games__image">
                            {% if game.cover_url %}
                                <img class="games__cover" src="{{ game.cover_url }}" alt="game-cover">
                            {% else %}
                                <img class="games__default" src="{% static 'media/images/default_cover.png' %}" alt="default-game-cover">
                            {% endif %}
                        </div>
                        <div class="games__block">
                            <div class="games__block-left">
                                <div class="games__title">
                                    <a href="/{{ game.game_id }}" target="_blank" class="games__title-a">{{ game.game_name }}</a>
                                </div>
                                <div class="games__genres">
                                    {% for genre in game.game_genres.all  %}
                                        {% if genre.genre_name %}
                                            {{ genre.genre_name }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="games__block-right">
                                <div class="games__buttons">
                                    {% if game.game_id in favorite_game_list_ids %}
                                        <a class="add-to-favorites added" href="{% url 'remove_from_favorites' game.game_id %}">UnMust</a>
                                    {% else %}
                                        <a class="add-to-favorites" href="{% url 'add_to_favorites' game.game_id %}">Must</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="content__pagination slider-favorites">
                {% if num_of_pages_for_layout == 1 %}
                    <div class="slider-favorites__block-left_one-page"></div>
                    <div class="slider-favorites__container_one-page">
                {% elif num_of_pages_for_layout > 1 %}
                    <div class="slider-favorites__block-left"></div>
                    <div class="slider-favorites__container">
                {% endif %}
                        <div class="slider-favorites__navigation-prev">
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for page in num_of_pages %}
                                    <div class="swiper-slide">
                                        <a class="slider-favorites__pagination" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    <div class="slider-favorites__navigation-next">
                        <div class="swiper-button-next"></div>
                    </div>
                {% if num_of_pages_for_layout == 1 %}
                    </div>
                    <div class="slider-favorites__block-right_one-page"></div>
                {% elif num_of_pages_for_layout > 1 %}
                    </div>
                    <div class="slider-favorites__block-right"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
