@import "base_variables";

.must {
  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__block {
    padding: 25px;
  }
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 30px;
    color: $font-color-dark;
    margin: 0 15px 0 0;
  }
  &__carts {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px;
    @media (max-width: 810px) {
      padding: 25px;
    }
  }
  &__games {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 230px;
    margin: 20px;
  }
}

.games {
  &__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-height: 80px;
    background: $font-color-light;
    border-bottom: 1px solid $font-color-border;
    border-right: 1px solid $font-color-border;
    border-left: 1px solid $font-color-border;
  }
  &__block-left {
    width: 50%;
    text-align: left;
  }
  &__block-right {
    width: 50%;
  }
  &__image {
    border-top: 1px solid $font-color-border;
    border-right: 1px solid $font-color-border;
    border-left: 1px solid $font-color-border;
    img {
      height: 210px;
      width: 228px;
      object-fit: cover;
    }
  }
  &__title {
    margin: 5px;
  }
  &__title-a {
    font-family: $font-family;
    font-weight: 600;
    font-size: (calc(14px + 2 * ((100vw - 420px) / 860)));
    color: $font-color-dark;
  }
  &__genres,
  &__users-added {
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
    color: $font-color-dark;
    margin: 5px;
  }
  &__buttons {
    padding: 0 15px;
  }
  &__button-submit {
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    color: $font-color-light;
    background: limegreen;
    padding: 10px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
  &__button-reset {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-light;
    background: $font-color-main;
    padding: 10px 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
}

.add-to-favorites {
  font-family: $font-family;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: $font-color-light;
  background: limegreen;
  padding: 10px;
  border-right: 2px solid $font-color-border;
  border-bottom: 2px solid $font-color-border;
  cursor: pointer;
}

.add-to-favorites.disabled {
  display: none;
}

.add-to-favorites.added {
  background: $font-color-main;
}

.anonym {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  &__title {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    width: 40%;
    padding: 10px;
    p {
      margin: 15px;
    }
  }
  &__link {
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: $font-color-light;
    background: $font-color-main;
    padding: 10px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
    cursor: pointer;
  }
}