/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.games-details {
  display: flex;
}
.games-details__games-info {
  min-width: 50%;
  padding: 30px;
}
.games-details__tweets {
  min-width: 18%;
}

.games-info {
  display: flex;
  align-items: center;
}
.games-info__description {
  min-width: 32%;
  padding: 125px 50px 0 0;
}
.games-info__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: black;
  margin: 0 15px 0 0;
}
.games-info__button {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.games-info__screenshots-title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.games-info__genre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 15px 50px 15px 0;
}
.games-info__genre-block {
  padding: 0 15px 0 0;
}
.games-info__screenshots-block {
  display: flex;
  flex-wrap: wrap;
}
.games-info__screenshots-image {
  width: 280px;
  height: 200px;
  object-fit: cover;
  padding: 10px 5px 5px 0;
}

.description-game__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.description-game__text {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 15px 50px 15px 0;
}

.release-date__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.release-date__text-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.release-date__text {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 15px 50px 15px 0;
}

.ratings__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.ratings__users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: limegreen;
  padding: 15px;
  margin: 15px 0 5px 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.ratings__critics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: orange;
  padding: 15px;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.ratings__users-title, .ratings__users-marks, .ratings__critics-title, .ratings__critics-marks {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.genres__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.genres__block {
  display: flex;
}
.genres__item {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

.platforms__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.platforms__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.platforms__item {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

.tweets__title {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.tweets__block {
  color: white;
  background-color: #e23232;
  margin: 10px 30px 10px 0;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.tweets__block__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweets__block__text {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: white;
  padding: 10px;
}
.tweets__block__date, .tweets__block__author {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: white;
}
.tweets__block__date {
  padding: 0 10px 10px 10px;
}
.tweets__block__author {
  padding: 0 10px 10px 0;
}

/*# sourceMappingURL=games_detail_page.css.map */
