@import "null";

.games-details {
  display: flex;
}

.games-info {
  display: flex;
  align-items: center;
}

.games-details__games-info {
  min-width: 50%;
  padding: 30px;
}

.games-info__description {
  min-width: 32%;
  padding: 125px 50px 0 0;
}

.games-details__tweets {
  min-width: 18%;
}

.games-info__title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 35px;
  color: $font-color-dark;
  margin: 0 15px 0 0;
}

.games-info__button {
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  color: $font-color-light;
  background-color: $font-color-main;
  padding: 10px 15px;
  border-right: $font-color-border;
  border-bottom: $font-color-border;
}

.description-game__title,
.release-date__title,
.games-info__screenshots-title,
.ratings__title,
.genres__title,
.platforms__title,
.tweets__title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  color: $font-color-dark;
  padding: 20px 0 5px 0;
}

.games-info__genre,
.description-game__text,
.release-date__text {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: $font-color-dark;
  padding: 15px 50px 15px 0;
}

.games-info__screenshots-block {
  display: flex;
  flex-wrap: wrap;
}

.games-info__screenshots-image {
  width: 280px;
  height: 200px;
  object-fit: cover;
  padding: 10px 5px 5px 0;
}

.ratings__users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  color: $font-color-light;
  background-color: limegreen;
  padding: 15px;
  margin: 15px 0 5px 0;
  border-right: $font-color-border;
  border-bottom: $font-color-border;
}

.ratings__critics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  color: $font-color-light;
  background-color: orange;
  padding: 15px;
  border-right: $font-color-border;
  border-bottom: $font-color-border;
}

.rating__users-title,
.ratings__users-marks,
.rating__users-count {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $font-color-light;
}

.ratings__critics-title,
.ratings__critics-marks,
.ratings__critics-count {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $font-color-light;
}

.genres__block,
.platforms__block {
  display: flex;
}

.genres__item,
.platforms__item {
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  color: $font-color-light;
  background-color: $font-color-main;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  border-right: $font-color-border;
  border-bottom: $font-color-border;
}

.tweets__block {
  color: $font-color-light;
  background-color: $font-color-main;
  margin: 10px 30px 10px 0;
  border-right: $font-color-border;
  border-bottom: $font-color-border;
}

.block__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__text {
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: $font-color-light;
  padding: 10px;
}

.block__date,
.block__author {
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: $font-color-light;
}

.block__date {
  padding: 0 10px 10px 10px;
}

.block__author {
  padding: 0 10px 10px 0;
}