@import "base_variables";

//burger//
.body._lock {
  overflow: hidden;
}

@media (max-width: 810px) {
  .menu__icon {
    display: none;
    @media (max-width: 810px) {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
    }
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $font-color-light;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header {
    position: fixed;
    z-index: 5;
    &__base {
      z-index: 5;
    }
    &__logo {
      img {
        z-index: 5;
        background: none;
      }
    }
    &__registration {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
      top: 0;
      left: -105%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }
    &__registration::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 75px;
      background: $font-color-main;
      z-index: 2;
    }
    &__registration._active {
      left: -10px;
    }
    &__profile,
    &__must {
      font-size: 25px;
    }
  }
}

.games-details {
  display: flex;
  @media (max-width: 1050px) {
    flex-wrap: wrap;
  }
  &__games-info {
    min-width: 50%;
    padding: 30px;
  }
  &__tweets {
    min-width: 22%;
    @media (max-width: 1050px) {
      width: 100%;
    }
    padding: 30px;
  }
}

.games-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  &__description {
    min-width: 28%;
    padding: 125px 50px 0 0;
    @media (max-width: 1050px) {
      width: 100%;
      padding: 30px;
    }
  }
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 35px;
    color: $font-color-dark;
    margin: 0 15px 0 0;
  }
  &__cover-secret {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: 0 15px 0 0;
      @media (max-width: 810px) {
        margin: 10px 10px 10px 0;
      }
    }
  }
  &__button {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    color: $font-color-light;
    background-color: $font-color-main;
    padding: 10px 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
  &__screenshots-title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__genre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    color: $font-color-dark;
    padding: 15px 50px 15px 0;
  }
  &__genre-block {
    padding: 0 15px 0 0;
  }
  &__screenshots-block {
    display: flex;
    flex-wrap: wrap;
  }
  &__screenshots-image {
    width: 280px;
    height: 200px;
    object-fit: cover;
    padding: 10px 5px 5px 0;
  }
}

.description-game {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__text {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    color: $font-color-dark;
    padding: 15px 50px 15px 0;
  }
}

.release-date {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__text-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__text {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    color: $font-color-dark;
    padding: 10px 15px 10px 0;
  }
}

.ratings {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    color: $font-color-light;
    background-color: limegreen;
    padding: 15px;
    margin: 15px 0 5px 0;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
  &__critics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    color: $font-color-light;
    background-color: orange;
    padding: 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
  &__users-title,
  &__users-marks,
  &__critics-title,
  &__critics-marks {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    color: $font-color-light;
  }
}

.genres {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__item {
    font-family: $font-family;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: $font-color-light;
    background-color: $font-color-main;
    padding: 10px 15px;
    margin: 10px 10px 0 0;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
}

.platforms {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 20px 0 5px 0;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  &__item {
    font-family: $font-family;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: $font-color-light;
    background-color: $font-color-main;
    padding: 10px 15px;
    margin: 10px 10px 0 0;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
}

.tweets {
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    padding: 10px;
  }
  &__main-block {
    height: 80vh;
    overflow: auto;
  }
  &__block {
    color: $font-color-light;
    background-color: $font-color-main;
    padding: 5px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
    margin: 0 10px 5px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: initial;
    color: $font-color-light;
    padding: 5px;
  }
  &__date,
  &__author {
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: initial;
    color: $font-color-light;
  }
  &__date {
    padding: 5px;
  }
  &__author {
    padding: 5px;
  }
}
