@import "base_variables";

.must {
  &__block {
    padding: 25px;
  }
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 30px;
    color: $font-color-dark;
  }
  &__carts {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
  }
  &__games {
    display: flex;
    flex-direction: column;
    height: 304px;
    width: 230px;
    margin: 20px;
  }
}

.games {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $font-color-light;
    border: 1px solid $font-color-border;
    width: 230px;
    height: 90px;
  }
  &__block-left {
    width: 50%;
    text-align: left;
    padding: 10px;
  }
  &__block-right {
    width: 50%;
  }
  &__image {
    border: 1px solid $font-color-border;
    img {
      height: 210px;
      width: 228px;
      object-fit: cover;
    }
  }
  &__title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-dark;
    margin: 5px;
  }
  &__genres {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: $font-color-dark;
    margin: 5px;
  }
  &__users-added {
    font-family: $font-family;
    font-weight: 400;
    font-size: 13px;
    color: $font-color-dark;
    margin: 5px;
  }
  &__buttons {}
  &__button-submit {
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    color: $font-color-light;
    background: limegreen;
    padding: 10px 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
  &__button-reset {
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    color: $font-color-light;
    background: $font-color-main;
    padding: 10px 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
  }
}
