/* Variables+plugins */
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

$font-family: 'Volkhov', serif;
$font-color-border: #808080;
$font-color-main: #e23232;
$font-color-light: white;
$font-color-dark: black;

$maxWidth: 1280;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
