/* Null */
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: white;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  width: 100%;
}
@media (max-width: 810px) {
  .wrapper {
    padding: 70px 0;
  }
}

.content {
  display: flex;
  max-width: 100%;
}
.content__sidebar {
  min-height: auto;
  min-width: 20%;
}
.content__sections {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}
.content__pass {
  min-width: 20%;
}
.content__sections-sidebar {
  min-width: 20%;
}
.content__sections-search {
  min-height: 100px;
  padding: 0 6%;
}
.content__carts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.content__pagination {
  width: 100%;
}

.header {
  display: flex;
  height: 75px;
  width: 100%;
  padding: 20px;
  background-color: #e23232;
  border-bottom: 2px solid #808080;
  align-items: center;
  justify-content: space-between;
}
.header__registration {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 0 10px;
}
.header__base {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  width: 70px;
  height: 55px;
  background-color: #e23232;
  margin: -10px 0;
}
.header__name {
  font-family: "Volkhov", serif;
  display: inline-block;
  font-size: 23px;
  color: white;
  font-weight: 700;
}
.header__link a {
  margin: 0 10px 0 0;
  color: white;
}
.header__search-label {
  display: flex;
  border-bottom: 2px solid #808080;
}
.header__search-input {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
}
.header__search-icon {
  width: 50px;
  height: 50px;
  margin: 0 0 -10px 0;
  object-fit: contain;
  background-color: white;
}
@media (max-width: 810px) {
  .header__search-icon {
    width: 40px;
    height: 40px;
    margin: 0 0 -20px 0;
  }
}
.header__profile, .header__register {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: #e23232;
  background: white;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  margin: 0 5px;
}
.header__profile a, .header__register a {
  text-decoration: none;
  color: #e23232;
}
.header__must {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: limegreen;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.favorites_statistics {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.sidebar li {
  position: relative;
}
.sidebar__list {
  display: flex;
}
.sidebar__sub-list {
  display: none;
  position: absolute;
  top: 0;
}
.sidebar__sub-link {
  font-size: 25px;
  font-weight: 600;
  font-family: "Volkhov", serif;
  color: white;
  background-color: #e23232;
  display: inline-block;
  padding: 25px;
}
@media (max-height: 1080px) {
  .sidebar__sub-link {
    height: 92vh;
    width: 400px;
  }
}
@media (min-height: 1080px) {
  .sidebar__sub-link {
    height: 100vh;
    width: 400px;
  }
}
.sidebar__arrow {
  position: absolute;
  border: 2px solid white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #e23232;
  z-index: 3;
}
@media (max-width: 810px) {
  .sidebar__arrow {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
}
.sidebar__arrow span {
  z-index: 999;
  height: 3px;
  margin: 1px;
  width: 20px;
  background: white;
  transition: 0.4s ease;
}
@media (max-width: 810px) {
  .sidebar__arrow span {
    width: 15px;
  }
}
.sidebar__arrow span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}
.sidebar__arrow span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}
.sidebar__arrow span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}
.sidebar__arrow span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.search__header {
  text-align: center;
  padding: 10px 0 15px 0;
  border-bottom: 2px solid white;
}
.search__name {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 5% 0;
}
.search__block {
  display: flex;
}
.search__label {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.search__input {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: #e23232;
  border-bottom: 2px solid white;
  margin: 20px 0 10px 10px;
}
.search__checkout {
  display: flex;
  flex-wrap: inherit;
  height: 250px;
  overflow: auto;
}
.search__search {
  margin: 10px;
}
.search__button {
  font-family: "Volkhov", serif;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: white;
  color: #e23232;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  text-align: center;
  margin: 0 33%;
}
.search__slider-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.search__slider-input {
  font-family: "Volkhov", serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: white;
  background: #e23232;
}

.search-platforms li {
  transition: all ease 500ms;
}

.search-platforms li.hide {
  display: none;
}

.search-genres li {
  transition: all ease 500ms;
}

.search-genres li.hide {
  display: none;
}

.games-cart {
  transition: all ease 500ms;
}

.games-cart.hide {
  display: none;
}

.checkout__input {
  display: flex;
  font-family: "Volkhov", serif;
  font-size: 14px;
  color: #e23232;
  background-color: white;
  border-radius: 30px;
  padding: 5px 10px;
  align-items: center;
  margin: 5px;
  width: fit-content;
}
.checkout__search {
  margin: 0 5px 0 0;
}

li mark {
  color: white;
  background: none;
}

.noUi-target {
  background: white;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 2px;
  width: 90%;
  margin: auto;
}

.noUi-connect {
  background: white;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background: white;
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  right: -6px;
  top: -4px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0;
  color: white;
  background: none;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  top: 10px;
}

.noUi-active .noUi-tooltip {
  display: block;
}

body.mouse .sidebar__list > li:hover .sidebar__sub-list {
  display: block;
  z-index: 3;
}

body.touch .sidebar__sub-list.open {
  display: block;
}

body.touch .sidebar__arrow {
  display: block;
}

.games-cart {
  position: relative;
  margin: 0 3% 3% 3%;
}
.games-cart__image {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.games-cart__hover:hover .games-cart__block {
  display: block;
}
.games-cart__block {
  position: absolute;
  font-family: "Volkhov", serif;
  font-weight: 600;
  text-align: left;
  color: white;
  left: 0;
  bottom: 1%;
  right: 0;
  top: 45%;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: none;
}

.block__main {
  display: flex;
  flex-wrap: wrap;
}
.block__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: white;
  width: 100%;
  margin: 0 0 10px 0;
}
.block__description {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: white;
  width: 100%;
  margin: 0 0 10px 0;
}
.block__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: black;
}
.block__links-open, .block__links-must {
  background-color: white;
  padding: 5px 10px;
  border-radius: 35px;
}
.block__links-must {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.block__links-a {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.body._lock {
  overflow: hidden;
}

@media (max-width: 810px) {
  .menu__icon {
    display: none;
  }
}
@media (max-width: 810px) and (max-width: 810px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
}
@media (max-width: 810px) {
  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }
}
@media (max-width: 810px) {
  .menu__icon::before,
.menu__icon::after {
    content: "";
  }
}
@media (max-width: 810px) {
  .menu__icon::before {
    top: 0;
  }
}
@media (max-width: 810px) {
  .menu__icon::after {
    bottom: 0;
  }
}
@media (max-width: 810px) {
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
@media (max-width: 810px) {
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
}
@media (max-width: 810px) {
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
}
@media (max-width: 810px) {
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 810px) {
  .header {
    position: fixed;
    z-index: 5;
  }
  .header__base {
    z-index: 5;
  }
  .header__logo img {
    z-index: 5;
    background: none;
  }
  .header__registration {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__registration::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: #e23232;
    z-index: 2;
  }
  .header__registration._active {
    left: -10px;
  }
  .header__profile, .header__must {
    font-size: 25px;
  }
}
.games-details {
  display: flex;
}
@media (max-width: 1050px) {
  .games-details {
    flex-wrap: wrap;
  }
}
.games-details__games-info {
  min-width: 50%;
  padding: 30px;
}
.games-details__tweets {
  min-width: 22%;
  padding: 30px;
}

.games-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.games-info__description {
  min-width: 28%;
  padding: 125px 50px 0 0;
}
@media (max-width: 800px) {
  .games-info__description {
    width: 100%;
    padding: 30px;
  }
}
.games-info__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 35px;
  color: black;
  margin: 0 15px 0 0;
}
.games-info__cover-secret img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 15px 0 0;
}
@media (max-width: 810px) {
  .games-info__cover-secret img {
    margin: 10px 10px 10px 0;
  }
}
.games-info__button {
  font-family: "Volkhov", serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.games-info__screenshots-title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.games-info__genre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 15px 50px 15px 0;
}
.games-info__genre-block {
  padding: 0 15px 0 0;
}
.games-info__screenshots-block {
  display: flex;
  flex-wrap: wrap;
}
.games-info__screenshots-image {
  width: 280px;
  height: 200px;
  object-fit: cover;
  padding: 10px 5px 5px 0;
}

.description-game__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.description-game__text {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 15px 50px 15px 0;
}

.release-date__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.release-date__text-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.release-date__text {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  color: black;
  padding: 10px 0;
}

.ratings__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.ratings__users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Volkhov", serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: limegreen;
  padding: 15px;
  margin: 15px 0 5px 0;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.ratings__critics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Volkhov", serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: orange;
  padding: 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.ratings__users-title, .ratings__users-marks, .ratings__critics-title, .ratings__critics-marks {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.genres__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.genres__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.genres__item {
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.platforms__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 20px 0 5px 0;
}
.platforms__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.platforms__item {
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #e23232;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.tweets__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 10px;
}
.tweets__block {
  color: white;
  background-color: #e23232;
  padding: 5px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.tweets__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.tweets__text {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: white;
  padding: 5px;
}
.tweets__date, .tweets__author {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: initial;
  color: white;
}
.tweets__date {
  padding: 5px;
}
.tweets__author {
  padding: 5px;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form__header {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 10px 0;
}
.form__container {
  display: flex;
  width: 100%;
}
.form__block-up {
  width: 100%;
  min-height: 20vh;
}
.form__block-left, .form__block-right {
  width: 35%;
}
.form__block-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.form__button-style {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.form__information {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.form__information-title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 0 15px 0 0;
}
.form__information-link {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 55%;
  color: white;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.control-group {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 0;
}

.control-label {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 0 10px 0 0;
}

.dateinput,
.emailinput,
.textInput {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  height: 30px;
  background: white;
}

.help-block {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: #e23232;
}

.alert {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #e23232;
  margin: 15px;
}

.select,
.numberinput {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  height: 30px;
}
.select option,
.numberinput option {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.verify__invalid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.verify__invalid-title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.verify__invalid-link {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.confirm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.confirm__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.profile__header {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 28px;
  color: black;
  text-align: left;
}
.profile__block {
  width: 100%;
  padding: 25px;
}
.profile__user {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.profile__user-info {
  text-align: right;
}
.profile__user-info_load {
  text-align: left;
}
.profile__name {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: #808080;
  margin: 0 0 3px 0;
}
.profile__name-load {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  margin: 0 0 3px 0;
}

.logout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.logout__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.logout__link {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  margin: 0 10px 0 0;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.error__block-title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin: 0 15px 0 0;
}
.error__block-link {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  cursor: pointer;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.must__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.must__block {
  padding: 25px;
}
.must__title {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
  margin: 0 15px 0 0;
}
.must__carts {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 100px;
}
@media (max-width: 810px) {
  .must__carts {
    padding: 25px;
  }
}
.must__games {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 230px;
  margin: 20px;
}

.games__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  width: 230px;
}
.games__block-left {
  width: 50%;
  text-align: left;
}
.games__block-right {
  width: 50%;
}
.games__image {
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}
.games__image img {
  height: 210px;
  width: 228px;
  object-fit: cover;
}
.games__title {
  margin: 5px;
}
.games__title-a {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: calc(14px + 2 * ((100vw - 420px) / 860));
  color: black;
}
.games__genres, .games__users-added {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin: 5px;
}
.games__buttons {
  padding: 5px;
}
.games__button-submit {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background: limegreen;
  padding: 10px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.games__button-reset {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #e23232;
  padding: 10px 15px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.add-to-favorites {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: white;
  background: limegreen;
  padding: 10px;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  cursor: pointer;
}

.add-to-favorites.added {
  background: #e23232;
}

.test-sessions {
  height: 300px;
  width: fit-content;
  padding: 25px;
  background: grey;
}
.test-sessions div {
  color: black;
  background: white;
  padding: 25px;
}

/* Variables+plugins */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.slider {
  display: flex;
}
.slider__block-right, .slider__block-left {
  width: 25%;
}
@media (max-width: 810px) {
  .slider__block-right, .slider__block-left {
    width: 10%;
  }
}
.slider__container {
  display: flex;
  width: 50%;
}
@media (max-width: 810px) {
  .slider__container {
    width: 100%;
  }
}
.slider__pagination {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #e23232;
  margin: 0 5px;
  padding: 10px 15px;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
  cursor: pointer;
}

.slider-favorites {
  display: flex;
}
.slider-favorites__block-right, .slider-favorites__block-left {
  width: 40%;
}
@media (max-width: 810px) {
  .slider-favorites__block-right, .slider-favorites__block-left {
    width: 10%;
  }
}
.slider-favorites__container {
  display: flex;
  width: 20%;
}
@media (max-width: 810px) {
  .slider-favorites__container {
    width: 80%;
  }
}
.slider-favorites__pagination {
  font-family: "Volkhov", serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #e23232;
  margin: 0 5px;
  padding: 10px 15px;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
  cursor: pointer;
}

.swiper-container {
  width: 80%;
  padding: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: relative;
  background-image: url("/static/media/images/back.30a4efceb806.svg");
}

.swiper-button-next {
  position: relative;
  background-image: url("/static/media/images/right.ab0d31b7f5c9.svg");
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  border: 2px solid #e23232;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  left: auto;
  right: auto;
  z-index: 2;
}

/*# sourceMappingURL=base.css.map */
