@import "base_variables";

.error {
  &__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
  }
  &__block-title {
    font-family: $font-family;
    font-weight: 600;
    font-size: 25px;
    color: $font-color-dark;
    margin: 0 15px 0 0;
  }
  &__block-link {
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    color: $font-color-light;
    background: $font-color-main;
    padding: 10px 15px;
    border-right: 2px solid $font-color-border;
    border-bottom: 2px solid $font-color-border;
    cursor: pointer;
  }
}