@import "base_variables";

.slider {
  display: flex;
  &__block-right,
  &__block-left {
    width: 25%;
    @media (max-width: 810px) {
      width: 10%;
    }
  }
  &__container {
    display: flex;
    width: 50%;
    @media (max-width: 810px) {
      width: 100%;
    }
  }
  &__navigation-prev,
  &__navigation-next {}
  &__pagination {
    font-family: $font-family;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: $font-color-light;
    background-color: $font-color-main;
    margin: 0 5px;
    padding: 10px 15px;
    border-bottom: 2px solid $font-color-border;
    border-right: 2px solid $font-color-border;
    cursor: pointer;
  }
}

.slider-favorites {
  display: flex;
  &__block-right,
  &__block-left {
    width: 40%;
    @media (max-width: 810px) {
      width: 10%;
    }
  }
  &__container {
    display: flex;
    width: 20%;
    @media (max-width: 810px) {
      width: 80%;
    }
  }
  &__navigation-prev,
  &__navigation-next {}
  &__pagination {
    font-family: $font-family;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: $font-color-light;
    background-color: $font-color-main;
    margin: 0 5px;
    padding: 10px 15px;
    border-bottom: 2px solid $font-color-border;
    border-right: 2px solid $font-color-border;
    cursor: pointer;
  }
}

.swiper-container {
  width: 80%;
  padding: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: relative;
  background-image: url('/static/media/images/back.svg');
}

.swiper-button-next {
  position: relative;
  background-image: url('/static/media/images/right.svg');
}

.swiper-button-prev,
.swiper-button-next {
  background-color: $font-color-light;
  border: 2px solid $font-color-main;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  left: auto;
  right: auto;
  z-index: 2;
}
