{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="form">
        <div class="form__block-up"></div>
        <div class="form__container">
            <div class="form__block-left"></div>
            <div class="form__block-center">
                <div class="form__block">
                    <h3 class="form__header">Login</h3>
                    <form action="{% url 'login_page' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form__button">
                            <button type="submit" class="form__button-style" value="login">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form__block-right"></div>
        </div>
        <div class="form__information">
            <h3 class="form__information-title">Don't have an account?</h3>
            <a href="{% url 'sign_up_page' %}" class="form__information-link">Sign up</a>
        </div>
    </div>
{% endblock %}
