{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile__block">
            <h3 class="profile__header">My Profile</h3>
            <div class="profile__user">
                <div class="profile__user-info">
                    <div class="profile__name">Username|</div>
                    <div class="profile__name">Email|</div>
                    <div class="profile__name">First Name|</div>
                    <div class="profile__name">Last Name|</div>
                    <div class="profile__name">Birthday|</div>
                    <div class="profile__name">Gender|</div>
                </div>
                <div class="profile__user-info_load">
                    <div class="profile__name-load">{{ users.username }}</div>
                    <div class="profile__name-load">{{ users.email }}</div>
                    <div class="profile__name-load">{{ users.first_name }}</div>
                    <div class="profile__name-load">{{ users.last_name }}</div>
                    <div class="profile__name-load">{{ users.birthday }}</div>
                    <div class="profile__name-load">{{ users.gender }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}