{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="form">
        <div class="form__block-up"></div>
        <div class="form__container">
            <div class="form__block-left"></div>
            <div class="form__block-center">
                <div class="form__block">
                    <h3 class="form__header">Sign Up</h3>
                    <form action="{% url 'sign_up_page' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form__button">
                            <button type="submit" class="form__button-style" value="registration">Sign me up!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form__block-right"></div>
        </div>
    </div>
{% endblock %}
